PlaneAnchor_Server/smartphone_indoor/
PlaneAnchor_Server/checkpoint/
PlaneAnchor_Server/inference/
PlaneAnchor_Server/parameter_test/
Evaluation/data/
Evaluation/scenario/
rs_bag2image/
*.bag
*.mp4
*.png
*.npy
*.ply
*.pyc
*.txt
*.pkl
